

.form-control {
  &:focus {
      outline: none;
      border-bottom:1px solid #fff;
      box-shadow: none;
  }

  background: transparent;
  border-radius: 0px;
  border: 0;
  border-bottom:1px solid #fff;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;



}

.form-group input{

}
