<section class="row" ng-controller="AuthenticationController">

  <div class="headerWrap auth-wrap">
    <img alt="Rise" class="img-responsive text-center" src="modules/core/client/img/brand/city-7.jpg" />
    <div class="headerDark"></div>
    <div class="headerCon">
      <div class="headerLogo"><img alt="Rise" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" /></div>
      <div class="signBtnCon">
        <div class="signBtn facebookBtn" ng-click="callOauthProvider('/api/auth/facebook')">FaceBook</div>
        <div class="signBtn linkedInBtn" ng-click="callOauthProvider('/api/auth/linkedin')">LinkedIn</div>
      </div>
      <div ui-view></div>
    </div>

  </div>

</section>
