/**
  Logo font zona_probold
*/
@font-face {
  font-family: 'zona_probold';
  src: url("../../../../fonts/zonapro-bold-webfont.woff2") format("woff2"), url("../../../../fonts/zonapro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Avenir-Book';
  src: url("../../../../fonts/Avenir-Book.woff2") format("woff2"), url("../../../../fonts/Avenir-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
